.button {
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    padding: 0.25rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}