@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: 255, 255, 255;
    --background-color: #FFFFFF;
  }
}

:root {
  --foreground-color: 0, 0, 0;
  --background-color: #0E172B;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

.bg-default-200 {
  background-color: var(--background-color);
}

.group-data-[selected=true]:bg-primary {
  background-color: var(--background-color);
}