:root {
  --background: #0E172B;
  --background-secondary: #ffffff;
  --white: #E2E9F1;
  --gray: #94A3B8;
  --aqua: #5ADECB;
  --text-selected: #154E5D;
}
*::selection {
  background-color: var(--color-aqua);
  color: var(--text-selected);
}

*::-webkit-scrollbar {
  width: 0.5em;
  background-color: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  cursor: default;
  position: relative;
  background-color: var(--background);
  line-height: 1.625;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

p {
  color: var(--gray);
}

.principal-wrapper {
  height: 100%;
  width: 100%;
}

.headers-wrapper {
  width: 100%;
  height: 11%;
  max-width: 1240px;
  margin: auto;
  padding-top: 2%;
}

.content-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
}

.page-wrapper {
  height: 78%;
  width: 100%;
  display: flex;
  max-width: 1240px;
  margin: auto;
}

.side-wrapper {
  width: 5%;
  display: flex;
  flex-direction: column-reverse;
}

.sticky-wrapper {
  position: sticky;
  top: 0;
  width: 40%;
  margin: 2em 0px 1em 0px;
}

.content-wrapper {
  width: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 2em 0px 1em 0px;
  padding-bottom: 70px;
}

/* 2xl */
@media screen and (max-width: 1535px) {}

/* xl */
@media screen and (max-width: 1270px) {}

/* lg */
@media screen and (max-width: 1023px) {}

/* md */
@media screen and (max-width: 767px) {}

/* sm */
@media screen and (max-width: 639px) {}

/* xs */
@media screen and (max-width: 479px) {}